:root {
  --reach-combobox: 1;
}

.option:not([aria-selected="true"]).option:not(:hover) {
  background-color: transparent;
}

.option:active {
  background-color: #d2defc
}

.popover {
  box-shadow: 0px 1px 16px rgba(46, 46, 46, 0.12);
}